html {
  /* font-specific rules*/
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  /* Other global rules*/
  background-color: #C13301;
}

body {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background-color: #FB8B06;
  padding: 0 20px 20px 20px;
  border: 5px solid grey;
}

h1 {
  font-size : 60px;
  text-align : center;
  font-style : bold;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

.introduction {
  text-align: center;
  line-height : 5px;
  letter-spacing : 2px;  
}

.done{
  color : darkseagreen;
  text-decoration: line-through solid black 2px;
}